<div class="wrapper">
    <form [formGroup]="appForm"
            autocomplete="on"
            method='post'
            class="form-signin">      
        <h2 class="form-signin-heading">Change Password</h2>
        <div [class.error]="(appForm.controls['oldpassword'].errors && isSubmited) || formError">
            <input autofocus
                    autocomplete='on'
                    class="form-control"
                    id="oldpasswordInput"
                    name="oldpassword"
                    placeholder="Enter your old password"
                    required autocomplete="off"
                    type="password"
                    input-large
                    [formControl]="appForm.controls['oldpassword']"
                    (keyup.enter)="onSubmit(appForm)">
            <app-error-message *ngIf="isSubmited"
                                class="full-width"
                                [controlName]="oldpassword"
                                [control]="appForm.controls['oldpassword']"></app-error-message>
        </div>
        <div [class.error]="(appForm.controls['newpassword'].errors && isSubmited) || formError">
            <input autocomplete='on'
                    class="form-control"
                    id="newpasswordInput"
                    name="password"
                    placeholder="Enter your new password"
                    required autocomplete="off"
                    type="password"
                    input-large
                    [formControl]="appForm.controls['newpassword']"
                    (keyup.enter)="onSubmit(appForm)">  
            <app-error-message *ngIf="isSubmited"
                                class="full-width"
                                [controlName]="password"
                                [control]="appForm.controls['newpassword']"></app-error-message>
        </div>
        <div [class.error]="(appForm.controls['confirmpassword'].errors && isSubmited) || formError">
            <input autocomplete='on'
                    class="form-control"
                    id="confirmpasswordInput"
                    name="confirmpassword"
                    placeholder="Enter your confirm password"
                    required autocomplete="off"
                    type="password"
                    input-large
                    [(ngModel)]="account.password"
                    [formControl]="appForm.controls['confirmpassword']"
                    (keyup.enter)="onSubmit(appForm)">  
            <app-error-message *ngIf="isSubmited"
                                class="full-width"
                                [controlName]="password"
                                [control]="appForm.controls['confirmpassword']"></app-error-message>
        </div>
        <!--<ng2-password-strength-bar
            [passwordToCheck]="appForm.controls['newpassword'].value"
            [barLabel]="barLabel"
            [barColors]="myColors">
        </ng2-password-strength-bar>-->
        <password-strength-bar [passwordToCheck]="appForm.controls['newpassword'].value" [barLabel]="barLabel"></password-strength-bar>
        <div [hidden]="!formError || !formErrorMsg"
                class="alert alert-danger">
                {{formErrorMsg}}
            <p class="color-whites text-body-medium top-margin-2" *ngIf="formErrorMsgSecondInfo">
                {{formErrorMsgSecondInfo}}
            </p>
        </div>
         <button class="btn btn-lg btn-primary btn-block"
                id="signInSubmitButton"
                type="button"
                (click)="onSubmit(appForm)"
                (keyup.enter)="onSubmit(appForm)">

            <span *ngIf="!processing" class="text-btn-label-large">Change Password</span>
            <span *ngIf="processing">
                <app-wire-spinner></app-wire-spinner>
            </span>
        </button>
    </form>
</div>