<div class="login-page" layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <mat-toolbar color="primary">
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </mat-toolbar>
        <mat-form-field>
            <input matInput #email maxlength="20" placeholder="Email">            
        </mat-form-field>
        <mat-form-field>
            <input matInput #password maxlength="30" placeholder="Password">
        </mat-form-field>
    </div>
</div>